html, body{
    background: black;
    color: white;
    overflow: hidden;
    z-index: 0;
}
.emodjis{
    padding: 15px;
    margin: 0 auto;
    z-index: 1;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-align: center;
    padding: 15px;
    z-index: 1;
}
.status{
    text-align: left;
    z-index: 1;
}
.status span {
    text-align: left;
}
.status span:first-of-type {
    text-align: right;
} 
.room{
    padding-bottom: 5px;
    z-index: 1;
}
.copyright{
    position: relative;
    bottom: 0;
    text-align: center;
    z-index: 100;
}